<a href="https://colab.research.google.com/github/MaryamMaksour/DataScienceEcosystem/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1> Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

<ul>
  <li> List popular languages for Data Science </li>
  <li> List popular languages that Data Scientists use</li>
  <li>List popular Data Science tools</li>
  <li> introducing arithmetic expression examples in python </li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
  <li> python</li>
  <li> R</li>
  <li> c++ </li>
  <li> java</li>
  <li> Matlab </li>

</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
  <li> pyblot</li>
  <li> matplotlib</li>
  <li> pandas </li>
  <li> Numpy</li>
  <li> seaborn </li>

</ol>

<table>

<tr>
<th>Data Science Tools </th>
</tr>
<tr> <td>Jupyter Notebook </td> </tr>
<tr> <td>google colab </td> </tr>
<tr> <td>RStudio </td> </tr>


</table>

<h3> Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes // 60
print(hours)

3

<h2> Author</h2>
Maryam Maksour